<div class="container">
  <div class="container-inner">
    <div class="container-front">
      <div class="container-back">


      <img mat-card-image src="./assets/l4.png" style="width:300px;height:300px;" >
      </div>
    </div>
  </div>
</div>



<div style="margin-top: 2rem; margin-left: auto; margin-right: auto;">




  <mat-form-field style="display: flex; justify-content: center; align-items: center" appearance="outline">
    <mat-label>Label</mat-label>
    <input name="input" type="text" placeholder="Choose Listing" [(ngModel)]="typed" (keyup)="onKey($event)"
      aria-label="Number" matInput [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let listing of filteredListings" [value]="listing.symbol">
        {{listing.symbol}}: {{listing.companyName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  
  <button mat-button style="display: flex; justify-content: center; align-items: center" (click)="getNewApi(typed)">Add to
    Watchlist</button>


  <mat-grid-list cols='2' rowHeight="4:1" style="margin-left: auto; margin-right: auto;">
    <mat-grid-tile>
      <button mat-icon-button [matMenuTriggerFor]="basic">Sort By: {{parameter}}
      </button>

    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button [matMenuTriggerFor]="basic1">Orientation: {{ort}}
      </button>

    </mat-grid-tile>
  </mat-grid-list>



  <mat-menu #basic="matMenu">
    <button mat-menu-item (click)="parameter = 'change_percentage';sortStocks(parameter, ort)">Change
      Percentage</button>
    <button mat-menu-item (click)="parameter = 'last';sortStocks(parameter, ort)">Price</button>
    <button mat-menu-item (click)="parameter = 'description';sortStocks(parameter, ort)">Name</button>
  </mat-menu>




  <mat-menu #basic1="matMenu">
    <button mat-menu-item (click)="ort = 'asc';sortStocks(parameter, ort)">Ascending</button>
    <button mat-menu-item (click)="ort = 'desc';sortStocks(parameter, ort)">Descending</button>
  </mat-menu>

</div>




<div style="padding-right: 2rem; padding-left: 2rem; margin-bottom: 2rem; margin-left: auto; margin-right: auto;">
  <mat-card *ngFor="let stock of stocks; let i=index"
    style="margin-bottom:2rem; max-width: 1000px; margin-left: auto; margin-right: auto;">
    <mat-card-header>

      <mat-icon mat-card-avatar style="color: green" *ngIf="stock.change_percentage>0">arrow_drop_up</mat-icon>
      <mat-icon mat-card-avatar style="color: red" *ngIf="stock.change_percentage<0">arrow_drop_down</mat-icon>
      <p mat-card-avatar style="color: green" *ngIf="stock.change_percentage>0">+{{stock.change_percentage}}%</p>
      <p mat-card-avatar style="color: red" *ngIf="stock.change_percentage<0">{{stock.change_percentage}}%</p>
      <!-- <mat-card-title>{{stock.description}}</mat-card-title> -->
      <mat-card-title>{{stock.symbol}}</mat-card-title>
      <mat-card-subtitle style="color: green;" *ngIf="stock.prediction && stock.prediction.close.prediction>=0">Prediction: +{{stock.prediction.close.prediction.toFixed(2)}}</mat-card-subtitle>
      <mat-card-subtitle style="color: red;" *ngIf="stock.prediction && stock.prediction.close.prediction<0">Prediction: {{stock.prediction.close.prediction.toFixed(2)}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="stock.prediction">Accuracy: {{stock.prediction.close.accuracy.toFixed(4)*100}} %</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
      <mat-expansion-panel style="background-color:#1C1C1C" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{stock.description}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Previous Close: ${{stock.prevclose}}</p>
        <p>Open: ${{stock.open}}</p>
        <p>Price: ${{stock.last}}</p>
        <p>Volume: {{stock.volume}}</p>
        <p>Change Percent: {{stock.change_percentage}}%</p>
        <div id="{{'chartContainer' + i}}" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;">
        </div>
      </mat-expansion-panel>
    </mat-card-content>
    <div *ngIf="isLoggedIn()">
      <mat-card-actions style="margin-right: 15px;">
        <button mat-button class="buyBtn" style=" " (click)="addToPortfolio(stock.symbol, this.stockAmount)">Buy</button>
        <mat-form-field style="margin-left: 15px;">
          <input matInput type="number" style="margin-left: 15px;" placeholder="Amount" value="value" min='1'
            name="amountInput" [(ngModel)]="stockAmount">
        </mat-form-field>

      </mat-card-actions>
    </div>
  </mat-card>
</div>