.buyBtn{
  margin-left: 15px;
  margin-right: 10px;
  
}
.buyBtn:hover{
    box-shadow: 0 0px 24px 0 #48a999;
    -moz-box-shadow: 0 0px 24px 0 #48a999;
    -webkit-box-shadow: 0 0px 24px 0 #48a999;   
}

