<nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of links"
        (click)="activeLink = link; show(link);"
        [active]="activeLink == link"> {{link}} </a>
</nav>

<div style="margin-top: 1.5rem">
    <button mat-button (click)="getSector()">Get Sector</button>

    <mat-form-field appearance="outline">
        <mat-label>Label</mat-label>
        <input matInput name="search" (change)="searchSymbol(typed)" [(ngModel)]="typed" placeholder="Label" value="value">
    </mat-form-field>

<button mat-button (click)="getTopHeadlines()">Get Headlines</button>

<button mat-button (click)="getStockQuote(typed)">Get Stock Quote</button>
    <mat-divider></mat-divider>
</div>


<div *ngIf="showStock">
    <button mat-button (click)="getStockQuote(typed)">Get Stock Quote</button>

    <button mat-button (click)="getStockDaily(typed)">Get Stock Daily</button>
    <button mat-button (click)="getStockWeekly(typed)">Get Stock Weekly</button>
    <button mat-button (click)="getStockMonthly(typed)">Get Stock Monthly</button>

    <mat-divider></mat-divider>
</div>
<div *ngIf="showCrypto">
    <button mat-button (click)="getCryptoDaily(typed, 'CNY')">Get Crypto Daily</button>
    <button mat-button (click)="getCryptoWeekly(typed, 'CNY')">Get Crypto Weekly</button>
    <button mat-button (click)="getCryptoMonthly(typed, 'CNY')">Get Crypto Monthly</button>

    <mat-divider></mat-divider>
</div>
<div *ngIf="showForex">
    <button mat-button (click)="getForexDaily(typed, 'usd')">Get Forex Weekly</button>
    <button mat-button (click)="getForexDaily(typed, 'usd')">Get Forex Daily</button>
    <button mat-button (click)="getForexDaily(typed, 'usd')">Get Forex Monthly</button>

    <mat-divider></mat-divider>
</div>