<button mat-button (click)="getSector()">Get Sector</button>


<input matInput name="search" (change)="searchSymbol(typed)" [(ngModel)]="typed" placeholder="label" value="value">

<button mat-button (click)="getStockQuote(typed)">Get Stock Quote</button>

<button mat-button (click)="getStockDaily(typed)">Get Stock Daily</button>
<button mat-button (click)="getStockWeekly(typed)">Get Stock Weekly</button>
<button mat-button (click)="getStockMonthly(typed)">Get Stock Monthly</button>

<button mat-button (click)="getCryptoDaily(typed, 'CNY')">Get Crypto Daily</button>
<button mat-button (click)="getCryptoWeekly(typed, 'CNY')">Get Crypto Weekly</button>
<button mat-button (click)="getCryptoMonthly(typed, 'CNY')">Get Crypto Monthly</button>

<button mat-button (click)="getForexDaily(typed, 'usd')">Get Forex Weekly</button>
<button mat-button (click)="getForexDaily(typed, 'usd')">Get Forex Daily</button>
<button mat-button (click)="getForexDaily(typed, 'usd')">Get Forex Monthly</button>

