<body>
  <div class="container">
      <table id="example" class="table table-responsive w-100 d-block d-md-table">
          <thead> 
              <tr>
                  <th>Display Name</th>
                  <th>Email</th>
                  <!-- <th>Total Investment</th>
                  <th>Total Profit</th> -->
              </tr>
          </thead>

          <tbody>
              <tr *ngFor="let user of users">
                  <td style="text-align: center;">{{ user?.displayName }}</td>
                  <td style="text-align: center;"> {{ user?.email }}</td>
                  <!-- <td style="text-align: center;"> {{ user?.email }}</td>
                  <td style="text-align: center;"> {{ user?.email }}</td> -->

                  
              </tr>
          </tbody>
      </table>
  </div>
</body>














