<mat-card style="max-width: 500px">
  <mat-card-header>
    <mat-card-title>Sign in</mat-card-title>
    <mat-card-subtitle>You can sign in with your email and password, or use Google</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  
      <div class="authBlock" style="padding-top: 1rem; padding-bottom: 1rem">
          <div class="formGroup">
            <input type="text" class="formControl" placeholder="Username" #userName required>
          </div>
          
          <div class="formGroup" style="padding-top: 1rem; padding-bottom: 1rem">
            <input type="password" class="formControl" placeholder="Password" #userPassword required>
          </div>
          <div class="formGroup">
            <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
          </div>
          </div>
          <div>
              <button mat-raised-button color ="accent" routerLink="/forgot-password" >Forgot Your Password?</button>
              <button mat-raised-button color ="accent" routerLink="/register" >Sign Up</button>
          </div>

  </mat-card-content>
  <mat-card-actions>
      <div class="formGroup">
          <button mat-raised-button color ="primary" type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
        
  </mat-card-actions>
</mat-card>



