<aside class="profile-card">
    <header *ngFor='let p of portfolio'>
      <!-- here’s the avatar -->
      <a target="_blank" href="#">
        <img src="{{userData.photoURL}}" class="hoverZoomLink">
      </a>
      <h1>
        Investor
      </h1>
      <h2>
        {{userData.displayName}}
      </h2>
      <h2>
        Amount: {{p.amount}}
            </h2>
    </header>
    <div class="profile-bio">
      <p>
        <button routerLink="edit" class="button-one"> Edit User</button>
      </p>
    </div>
  </aside>