<!-- <body>

    <h2 style="text-align:center">Welcome, {{userData.displayName}}!</h2>
    <div class="card">
        <img src="{{userData.photoURL}}" style="width:100%">
        <div style="margin: 24px 0;" *ngFor='let p of portfolio'>
            <p>Your ID: {{p.id}}</p>
            <p>Amount: {{p.amount}}</p>
            <br>
        </div>
        <button routerLink="edit" class="btn btn-primary"> Edit User</button>
    </div>

</body> -->

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Welcome, {{userData.displayName}} !</mat-card-title>
      <mat-card-subtitle>Investor</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{userData.photoURL}}" >
    <mat-card-content *ngFor='let p of portfolio'>
        <p>Your ID: {{p.id}}</p>
        <p>Amount: {{p.amount}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="edit" style="width: 40%;margin-left: 30%; margin-right: 30%;" mat-fab color="primary"> Edit User</button>
    </mat-card-actions>
  </mat-card>