<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="background-color:#019281 ;">Menu</mat-toolbar>
    <mat-nav-list class="menuList">
      <a mat-list-item href="">Home</a>
      <a mat-list-item href="news">News</a>
      <a mat-list-item *ngIf="authService.isLoggedIn()" href="user">Your Portfolio</a>
      <a mat-list-item *ngIf="!authService.isLoggedIn()" href="login">Log In</a>
      <a mat-list-item *ngIf="!authService.isLoggedIn()" href="register">Register</a>
      <a mat-list-item *ngIf="authService.isLoggedIn()" (click)="authService.SignOut()">Sign Out</a>
      <a target='_blank' href="https://broknet-684ba.firebaseapp.com/" mat-list-item>BrokNet Chat</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle(); toggle()"
        >
        <mat-icon style="font-size: 40px;" aria-label="Side nav toggle icon" *ngIf="!drawerClosed">toggle_off</mat-icon>
        <mat-icon style="font-size: 40px;" aria-label="Side nav toggle icon" *ngIf="drawerClosed">toggle_on</mat-icon>
      </button>
      <span routerLink='' style="cursor: pointer; margin-left: 1rem">BrokNet Prototype</span>
      <div class="fill-space"></div>
      <button *ngIf='authService.isLoggedIn()' mat-icon-button routerLink='profile'><mat-icon style="font-size: 35px;">account_circle</mat-icon></button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div style="padding: 1rem">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
