mat-card {
    margin-bottom: 1rem; 
    border: 1px solid #48a999; 
    box-shadow: 0 0px 8px 0 #48a999;
}

mat-card:hover {
    box-shadow: 0 0px 24px 0 #48a999;
    -moz-box-shadow: 0 0px 24px 0 #48a999;
    -webkit-box-shadow: 0 0px 24px 0 #48a999;   
}

mat-card:first-child {
    margin-top: 1rem;
}
