.buyBtn{
    margin-left: 15px;
    margin-right: 10px;
    
  }
  .buyBtn:hover{
      box-shadow: 0 0px 24px 0 #48a999;
      -moz-box-shadow: 0 0px 24px 0 #48a999;
      -webkit-box-shadow: 0 0px 24px 0 #48a999;   
      color:green;
  }

  .sellBtn:hover{
    box-shadow: 0 0px 24px 0 #48a999;
    -moz-box-shadow: 0 0px 24px 0 #48a999;
    -webkit-box-shadow: 0 0px 24px 0 #48a999;   
    color:red;

  }
  
.card-list{
  margin: 2rem; 
  max-width: 400px; 
  background-color:rgba(71, 70, 70, 0.548); 
  max-height: 100%; 
  box-shadow: currentColor; 
  margin-top: 3%;
  margin: 0 auto;
}