<mat-card style="margin: 2rem; max-width: 500px;">
    <mat-card-header>
        <mat-card-title>{{user.displayName}}</mat-card-title>
        <mat-card-subtitle>Investor</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image  src={{user.photoURL}}>
      <mat-card-content>
        <h1>Total Investment: {{totalUserInvestment}}$</h1>
        <h1>Total Share Value: {{totalShareValue}}$</h1>
        <h1>Total Profit: {{profit}}$</h1>
      </mat-card-content>
</mat-card>





<div style="padding-right: 2rem; padding-left: 2rem; margin-bottom: 2rem;">
    <mat-card *ngFor="let stock of filteredStocks; let i=index" style="margin-bottom:2rem; max-width: 1000px;">
        <mat-card-header>
          <mat-card-title>{{stock.name}}</mat-card-title>
          <mat-card-title>{{stock.symbol}}</mat-card-title>
          <mat-card-subtitle>Trading at the {{stock.stock_exchange_long}}</mat-card-subtitle>
          <mat-card-subtitle>Investment: {{this.findByID(stock.id).investment}}$</mat-card-subtitle>
          <mat-card-subtitle>Amount of stocks: {{this.findByID(stock.id).amount}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3>Profit: {{(this.findByID(stock.id).amount*stock.price) - this.findByID(stock.id).investment}}$ </h3>
          <p>Previous Close: {{stock.close_yesterday}}</p>
          <p>Open: {{stock.price_open}}</p>
          <p>Price: {{stock.price}}</p>
          <p>Volume: {{stock.volume}}</p>
          <p>Change Percent: {{stock.change_pct}}%</p>
          <div id="{{'chartContainer' + i}}" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
        </mat-card-content>
        <div *ngIf="isLoggedIn()">
            <mat-card-actions >
              <button mat-button (click)="addToPortfolio(stock.symbol, this.stockAmount)">Buy</button>
              <mat-form-field>
                <input matInput type="number" min="1" placeholder="Amount" value="value" name="amountInput" [(ngModel)]="stockAmount">
              </mat-form-field>
              <button mat-button *ngIf="(this.stockAmount <= this.findByID(stock.id).amount)" (click)="sellStocks(stock.symbol, this.stockAmount)">Sell</button>
            </mat-card-actions>
          </div>
    </mat-card>
</div>